@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700';
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
	letter-spacing: normal;
	--backgroundColor: #fff;
	--backgroundColorWrap: #fff;
	--textColor: #000;
	--shadowColor: #000;
}

html {
    height: 100.2%;
	font-size: 16px;
}

body {
    text-align: center;
    font-family: 'Josefin Sans' , Arial, Helvetica, sans-serif; 
    background-color: var(--backgroundColor); 
}



div#header {
	font-family: 'Josefin Sans', sans-serif;  
    margin-bottom: 5em;
	margin-top: 2em;
	margin-left: 0em;
	padding: 1em 0em 0em 0em;
	text-align: center;
	/* background-color:  #333; */
	color: var(--textColor);
	/* box-shadow: 0px 0px 2px 2px #000; */
	font-style: normal;
		background-color: var(--backgroundColorWrap);
}

h1{
	font-size: 6.25rem;
	line-height: 1.5em;
	font-weight: 400;
}

h2 {
	font-size: 2.6rem;
	font-weight: 700;
	
} 

/* tabs */
div.tab-menu {
	margin: 0 auto;
	width: 30%;
	position: relative;
	font-size: 0.75em;
	clear: both;
}


#tab-content1, #tab-content2 {
  clear: both;
  display: none;
}

div.tab-label-content {
	width: 50%;
	text-align: center;
	/* cursor: pointer; */
	margin-bottom: 3em;
	background-color: #fff;
	text-transform: uppercase;
	line-height: 3em;
}
label {
	/* padding: 1.2em; */
	cursor: pointer;
	color: rgba(0,0,0, 0.7);
	transition: color 0.2s ease;
	width: 100%;
	font-weight: 700;
}
/* label:hover {
	background-color: #aaa;
} */


input[type="radio"][name="tabs"] {
  position: absolute;
  display: none;
  z-index: -10;
}

.slide {
  background: #aaa;
  width: calc(100% / 2);
  height: 2px;
  position: absolute;
  left: 0;
  top: calc(3em - 2px);
  transition: left 0.3s ease-out;
}


/* specific styes that have to be made for each tab because of the html structure that i wanted */
input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ #tab-content1 {
  display: block;
}
input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ #tab-content2 {
  display: block;
}

input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .tab-menu .slide {
  left: calc((100% / 2) * 0);
}
input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .tab-menu .slide {
  left: calc((100% / 2) * 1);
}

input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .tab-menu .tab1-label label {
  color: #000;
}
input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .tab-menu .tab2-label label{
  color: #000;
}


/* end tabs */

div#wrapper {
	min-width: 450px;
	max-width: 1280px;
	margin: 0px auto;
    text-align: left;

}


div#content {
	font-size: 1.4em;
    color: var(--textColor);
}




div.box2x1 {
	width: 50%;
	position: relative;
}
div.box4x2 {
	width: 100%;
	position: relative;
}

/* to make the boxes 16:9 ratio */
.box4x2:before, .box2x1:before {
	content: "";
	display: block;
	padding-top: 56.25%;
}

div.box2x2 {
	margin:  30px auto;
	width: 50%;
	position: relative;
}

/* and the tall boxes 16:18 */
.box2x2:before{
	content: "";
	display: block;
	padding-top: 112.5%;
}



.content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 10px;
	border: 1px solid #fff;
	border-radius: 2px;
	
	color: var(--textColor);
	/* box-shadow: 0px 0px 4px 4px var(--shadowColor); */
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

#tab-content1 .content:hover {
	/* box-shadow: 0px 0px 2px 2px var(--shadowColor); */
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.thumbnailPicture-frame img {
	display: block; 
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}


/* content settings for the about me site */
/* text boxes: */
.content.text {
	padding: 10px 20px;
	font-size: 1.75rem;
	/* font-size: 2vw; */
	font-weight: 400;
	line-height: 1.3em;
	font-family: 'Josefin Sans', 'Verdana', sans-serif;
	overflow: hidden;
}
.text h3 {
	font-size: 2rem;
	line-height: 1.5em;
	font-weight: 700;
	text-decoration: underline;
	font-family: 'Josefin Sans', sans-serif; 
}

.text ul {
	margin-left: 1em;
	font-weight: 700;
}

.text ul  p {
	margin-left: -1em;
	font-weight: 400;
}

/* highlight links */
.content.text a {
	padding: 2px;
	text-decoration: none;
	line-height: 1.6em;
	color: #000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),
				0 1px 2px rgba(0,0,0,0.24);

	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.content a:hover   {
	color:#aaa;
	text-decoration:underline;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
				0 10px 10px rgba(0,0,0,0.22);
	border: none;
}

/* image boxes: */
div.boxImage img{
	display: block; 
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.content.boxImage:hover {
	/* box-shadow: 0px 0px 2px 2px var(--shadowColor); */
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* end content style for about me part */

/* thumbnail text hover settings*/

div.thumbnail-text {
	
	width: 100%;
	height: 100%;
	
	background: rgba(0,0,0,0.7);
	color: white;
 	cursor: pointer;
	display: table; 
	position: absolute;
	left: 0;
	top: 0; 
	
	opacity: 0;
	transition: opacity 400ms; 
}
 
.tab-content div:hover div.thumbnail-text {
	opacity: 1;
} 
 
/* thumbnail text settings */
div.thumbnail-text div{
	padding: 0.5em 1em;
	display: table-cell;
	text-align: left;
	vertical-align: bottom;
} 
div.thumbnail-text div p{
	text-align: left;
	font-size: 2rem;
}
div.thumbnail-text div h3{
	font-size: 3rem;
	padding-bottom: 0.4em;
	text-decoration: underline;
}


@media screen and (min-width: 641px) and (max-width: 960px) {
	html {
		font-size: 11px;
	}
}
@media screen and (max-width: 640px) {
	html {
		font-size: 8px;
	}
}


div#footer {
	color: var(--backgroundColor);
	text-align: center;
    clear: both;
	height: 3em;
	font-size: 100px;
	line-height: 1.5em;
	font-weight: 400;
	
	/* border-top: 3px solid #808080; */
	/* border-bottom-left-radius: 10px; */
	/* border-bottom-right-radius: 10px; */
}

.left {
	float: left;
	max-width: 100%;
}

.right {
	float: right;
	max-width: 100%;
}

.noFloat {
	clear: both;
}

.center {
	margin: 10px auto;
}

/* damit die browser keinen mist machen */
a:link { }
a:visited {text-decoration: overline;}
a:hover   {color:#ff0000; background-color:transparent; text-decoration:underline}
a:active { }


/* css modal for big pictures on click (disabled on width < 960px)*/
.picture-modal{
	z-index:3;
	display:none;
	padding-top:0;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}
.picture-modal-content{
	margin: auto;
	background-color: rgba(0,0,0,0);
	position:relative;
	top: 50%;
	transform: translateY(-50%);
	width:95%;
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 53.44%;
}

.picture-modal:target {
	display: block;
}

.picture-animate-zoom {
	-webkit-animation:animatezoom 0.4s;
	animation:animatezoom 0.4s
}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0) translateY(0)} to{-webkit-transform:scale(1) translateY(-50%)}}
@keyframes animatezoom{from{transform:scale(0) translateY(0)} to{transform:scale(1) translateY(-50%)}}

/* modal back element */
/* nvm just use the #backButton it's displayed anyway ;) */


/* media query just for the contacts site */

@media screen and (max-width: 960px){

		
	/* disable picture lightboxes for this screenwidth */
	#tab-content2 .picture-modal:target {
		display: none;
	}
	
	/* div#wrapper { */
		/* max-width: 960px; */
		/* min-width: 480px; */

		/* margin: 0px auto; */
		/* text-align: left; */
	/* } */

	
	div.box2x1 {
		width: 100%;	
		position: relative;
	}

	div.box2x2 {
		width: 100%;
		position: relative;
	}
	
}


/* font sizes: */
@media screen and (min-width: 1101px) and (max-width: 1280px) {
	html{
		font-size: 14px;
	}
}

@media screen and (min-width: 961px) and (max-width: 1100px) {
	html{
		font-size: 12px;
	}
}

@media screen and (min-width: 701px) and (max-width: 960px) {
	html{
		font-size: 18px;
	}
}

@media screen and (min-width: 640px) and (max-width: 700px) {
	html{
		font-size: 16px;
	}
}

@media screen and (max-width: 640px) {
	
	html {
		font-size: 16px;
	}
	
	
	/* set all textboxes to 16:18 */
	.box4x2.text,
	.box2x2.text,
	.box2x1.text{
		/* border: 3px solid red; */
	}
	.box4x2.text:before,
	.box2x1.text:before 
	{
		content: "";
		display: block;
		padding-top: 112.5%;
	}
	.box2x2.text:before
	{
		content: "";
		display: block;
		padding-top: 225%;
	}
}
