@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
	letter-spacing: normal;
	--backgroundColor: #fff;
	--backgroundColorWrap: #fff;
	--textColor: #000;
	--shadowColor: #000;
}

html {
    height: 100.2%;
	font-size: 16px;
}

body {
    text-align: center;
    font-family: 'Josefin Sans' , Arial, Helvetica, sans-serif; 
    background-color: var(--backgroundColor);
	color: var(--textColor);
}



div#header {
	font-family: 'Josefin Sans', sans-serif;  
    margin-bottom: 5em;
	margin-top: 2em;
	margin-left: 0em;
	padding: 1em 0em 0em 0em;
	text-align: center;
	/* box-shadow: 0px 0px 2px 2px #000; */
	font-style: normal;
		/* background-color: var(--backgroundColorWrap); */
}

h1{
	font-size: 5.25rem;
	line-height: 1.5em;
	font-weight: 400;
}

h2 {
	font-size: 2.6rem;
	font-weight: 700;
	
} 


div#wrapper {
	min-width: 450px;
	max-width: 1280px;
	margin: 0px auto;
    text-align: left;
}



div.box2x1 {
	margin: 30px auto;
	width: 50%;
	position: relative;
}
div.box2x2 {
	margin:  30px auto;
	width: 50%;
	position: relative;
}
div.box4x2 {
	margin:  30px auto;
	width: 100%;
	position: relative;
}





/* to make the boxes 16:9 ratio */
.box4x2:before, .box2x1:before {
	content: "";
	display: block;
	padding-top: 56.25%;
}


/* and the tall boxes 16:18 */
.box2x2:before{
	content: "";
	display: block;
	padding-top: 112.5%;
}



.content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 10px;
	border: 1px solid #fff;
	border-radius: 2px;
	
	color: var(--textColor);
	background-color: var(--backgroundColor);
	/* box-shadow: 0px 0px 4px 4px var(--shadowColor); */
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}


.left {
	float: left;
	max-width: 100%;
}

.right {
	float: right;
	max-width: 100%;
}

.noFloat {
	max-width: 100%;
	clear: both;
}

.center {
	margin: 10px auto;
}


.space-top {
	padding-top: 0.5em;			  
}

.indent {
	/* text-indent: 1em; */
	margin-left: 1em;
}

/* content settings for the about me site */
/* text boxes: */
.content.text {
	padding: 10px 20px;
	font-size: 1.25rem;
	/* font-size: 2vw; */
	/* font-weight: 400; */
	line-height: 1.5em;
	/* font-family: 'Josefin Sans', 'Verdana', sans-serif; */
	font-family: 'Merriweather Sans', sans-serif;
	overflow: hidden;
}


.text h3 {
	font-size: 2rem;
	line-height: 1.5em;
	font-weight: 700;
	text-decoration: underline;
	font-family: 'Josefin Sans', sans-serif; 
	margin-bottom: 0.25em;
}

.text h4 {
	font-size: 1.5rem;
	line-height: 1.5em;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
	/* text-decoration: underline; */	
	margin: 0.25em 0em 0.25em 0em;
}

.text ul {
	margin-left: 1em;	
	list-style-type: square;
}

.text ul  p {
	margin-left: -1em;	
}

/* highlight links */
.content.text a {
	padding: 2px;
	text-decoration: none;
	line-height: 1.6em;
	color: #000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),
				0 1px 2px rgba(0,0,0,0.24);

	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.content a:hover   {
	color:#aaa;
	text-decoration:underline;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
				0 10px 10px rgba(0,0,0,0.22);
	border: none;
}

/* image boxes: */
div.boxImage img{
	display: block; 
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.content.boxImage:hover {
	/* box-shadow: 0px 0px 2px 2px var(--shadowColor); */
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}








/* reset link behavior for each browser */
a:link { }
a:visited {text-decoration: overline;}
a:hover   {color:#ff0000; background-color:transparent; text-decoration:underline}
a:active { }


/* css modal for big pictures on click (disabled on width < 960px)*/
.picture-modal{
	z-index:3;
	display:none;
	padding-top:0;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}
.picture-modal-content{
	margin: auto;
	background-color: rgba(0,0,0,0);
	position:relative;
	top: 50%;
	transform: translateY(-50%);
	width:95%;
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 53.44%;
}

.picture-modal:target {
	display: block;
}

.picture-animate-zoom {
	-webkit-animation:animatezoom 0.4s;
	animation:animatezoom 0.4s
}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0) translateY(0)} to{-webkit-transform:scale(1) translateY(-50%)}}
@keyframes animatezoom{from{transform:scale(0) translateY(0)} to{transform:scale(1) translateY(-50%)}}

/* modal back element */
/* nvm just use the #backButton it's displayed anyway ;) */


.boxImage > iframe {
	width: 100%;
	height: 100%;
}

.boxImage > video {
	width: 100%;
	height: 100%;
}





/* font sizes: */
@media screen and (min-width: 1101px) and (max-width: 1280px) {
	html{
		font-size: 14px;
	}
}

@media screen and (min-width: 961px) and (max-width: 1100px) {
	html{
		font-size: 12px;
	}
}

@media screen and (min-width: 701px) and (max-width: 960px) {
	html{
		font-size: 18px;
	}
}

@media screen and (min-width: 640px) and (max-width: 700px) {
	html{
		font-size: 16px;
	}
}

@media screen and (max-width: 640px) {
	
	html {
		font-size: 16px;
	}
	
	
	/* set all textboxes to 16:18 */
	.box4x2.text,
	.box2x2.text,
	.box2x1.text{
		/* border: 3px solid red; */
	}
	.box4x2.text:before,
	.box2x1.text:before 
	{
		content: "";
		display: block;
		padding-top: 112.5%;
	}
	.box2x2.text:before
	{
		content: "";
		display: block;
		padding-top: 225%;
	}
}
